* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

body {
  background-color: #969b9b;
  /* color: white; */
}

.logo {
  padding: 5px;
  width: 50px;
  justify-content: center;
  display: flex;
  display: inline;
  border-radius: 10px;
  background: linear-gradient(90deg, rgb(38, 0, 255), rgb(0, 221, 255));
  box-shadow: 0 0 10px rgb(30, 0, 255);
  transition: 0.5s all;
  &:hover {
    box-shadow: 0 0 50px rgb(30, 0, 255);
    transform: scale(1.1);
  }
}

.navbar {
  background: linear-gradient(90deg, transparent, rgb(62, 62, 62));
  position: fixed;
  z-index: 10;
  width: 100%;
  top: 0px;
  border-bottom: 3px rgb(218, 217, 217) solid;
  box-shadow: 0 0 10px rgb(222, 222, 222);
}

.nav-links {
  a {
    margin: 5px;
    text-decoration: none;
  }
}

#convert-now {
  text-decoration: none;
  background-color: rgb(90, 255, 90);
  display: inline-block;
  padding: 10px;
  color: black;
  font: bold;
  font-weight: 900;
  border: 2px black solid;
  box-shadow: 0 0 20px rgb(135, 255, 135);
  border-radius: 10px;
  margin-right: 20px;
  transition: 0.5s all;
  &:hover {
    transform: rotate(360deg);
  }
}

button {
  background-color: #5a322a;
}

.box1 {
  background-color: #9abbc0;
  margin: 20px;
  padding: 30px;
  border-radius: 20px;
  border: 1px solid black;
  transition: 0.5s all;

  .power {
    color: #155dfc;
  }
  .list {
    ul,
    ol {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      li {
        margin: 5px;
        padding: 5px;
      }
    }
  }
}

.box2 {
  background-color: #9abbc0;
  margin: 20px;
  padding: 30px;
  border-radius: 20px;
  border: 1px black solid;
  transition: 0.5s all;
  &:hover {
    transform: scale(1.07);
  }

  h2 {
    align-content: center;
    .one {
      display: inline-block;
      background-color: #709cf9;
      color: #155dfc;
      box-shadow: 0 0 10px #0051ff;
      width: 40px;
      height: 40px;
      border-radius: 50px;
      border: 1px rgb(0, 149, 255) solid;
      font-size: 20px;
      align-content: center;
      text-align: center;
    }
  }
  .input-box {
    width: 100%;
    text-align: center;
    border: 1px dashed black;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;

    .up-arrow {
      display: inline-block;
      background-color: #9ebbf9;
      border: 1px rgb(76, 196, 251) solid;
      width: 70px;
      height: 70px;
      border-radius: 50px;
      align-content: center;
      transition: 0.5s all;
      &:hover {
        box-shadow: 0 0 50px #1b0fff;
        transform: scale(1.1);
      }
    }

    #inputFile {
      display: none;
    }
  }
  .submit-btn {
    margin-top: 10px;
    outline: none;
    border: none;
    background-color: black;
    background-color: #5a322a;
    color: white;
    padding: 5px;
    width: 100%;
    border-radius: 10px;
    transition: 0.5s all;
    &:hover {
      transform: translateY(-5px);
    }
  }
}

.box3 {
  margin: 20px;
  padding: 30px;
  border-radius: 20px;
  background-color: #9abbc0;
  border: 1px black solid;
  transition: 0.5s all;
  &:hover {
    transform: translateY(-5px);
  }

  .list {
    ul {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      li {
        margin: 5px;
        padding: 5px;
      }
    }
  }
}

.info-box {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .card {
    margin: 7px;
    box-shadow: 0 0 10px white;
    transition: 0.5s all;
    cursor: pointer;
    &:hover {
      transform: rotate(360deg);
    }
  }
}

footer {
  background-color: black;
  text-align: center;
  padding: 20px;
  color: white;
  h5 > a {
    color: white;
  }
  a {
    text-decoration: none;
  }
}
